body{background: url("../images/index_bg.png") no-repeat center 110px/cover}
#mainpart{
    position: relative;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1600px;
    -moz-perspective: 1600px;
    perspective: 1600px;
}
#mainpart .later,#mainpart .front{
    transition: all 1s;
    transform: rotateY(0deg);
   /* -webkit-transform-origin:50% 0% 0px;
    -moz-transform-origin:50% 0% 0px;
    transform-origin:50% 0% 0px;*/
    /*-webkit-transform-origin:center;
    -moz-transform-origin:center;
    transform-origin:center;*/
}
#mainpart .front{
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}
#mainpart .later{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
