body{background: url("../images/index_bg.jpg") no-repeat center 110px/cover}
/*---------------------主体--------------------------*/
#mainpart{position: relative}
#mainpart .shadow{
    width: 100%;
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 50px;
    transition: all 1s;
}

/*---------------------底部导航--------------------------*/
.botnav{
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
}
.botnav-main{display: none;}
.botnav-main ul{
    display: inline-block;
    width: 80%;
    height: 60px;
}
.botnav-main li{
    width: 33%;
    float: left;
}
.botnav .button{
    width: 52px;
    height: 60px;
    background: url("../images/pull_btn_03.png") no-repeat center/cover;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -26px;
    z-index: 3;
}