*{margin: 0; padding: 0;}
nav,footer{ display: block;}
a{text-decoration: none;color: #000}
ul,li,ol{list-style: none}
img,textarea,input{border: none}
.clearfix{*zoom: 1;}
.clearfix:after{content: "200B";  display: block;height: 0; font-size:0;visibility: hidden;overflow: hidden;line-height: 0;clear: both}
.img100{width: 100%;}
.borderbox{-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
/*---------------------nav--------------------------*/
#nav{
    height: 110px;
    text-align: center;
}
#nav .logo{
    height: 100%;
    float: left;
    padding-left: 27px;
    width: 174px;
}
#nav .logo img{
    padding-top: 18px;
}
#nav .nav-bar{
    display: inline-block;
    margin-top: 40px;
}
#nav .nav-bar li{
    width: 184px;
    line-height: 27px;
    float: left;
    position: relative;
    font-size: 10px;
}
#nav .nav-bar li p:nth-child(1){font-size: 18px;}
#nav .nav-bar li:after{
    content: '';
    width: 10px;
    height: 10px;
    background: #b5b5b5;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 16px;
}
#nav .nav-bar li:last-child:after{  display: none;  }
#nav .nav-bar li:hover a,#nav .nav-bar .active{color: #63dad9;}
#nav .right{ float: right;height: 100%;}
#nav .right .search{
    float: left;
    height: 100%;
    width: 236px;
    padding-top: 42px;
    background: url("../images/search_bg_02.jpg") no-repeat center/cover;
}
#nav .right .search>div{
    background:#b8f0ec url("../images/search_icon_09.png") no-repeat 158px 6px/30px;
    width: 190px;
    height: 36px;
    text-align: left;
    padding: 6px 0 6px 8px;
    margin: 0 auto;
    border-radius: 10px;
}
#nav .right .search input{
    width: 146px;
    height: 24px;
    border-radius: 6px;
}
#nav .right .music{
    float: left;
    height: 100%;
    width: 130px;
    background: #61d6d3;
}
#nav .right .music img{
    width: 84px;
    padding-top: 22px;
}
/*---------------------footer--------------------------*/
#footer{
    /*position: relative;*/
    position: fixed;
    width: 100%;
    bottom: 0;
    /*bottom: -50px;
    height: 50px;*/
    transition: all 1s;
}
#footer .button{
    width: 52px;
    height: 60px;
    background: url("../images/pull_btn_03.png") no-repeat center/cover;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -26px;
    z-index: 3;
}
#footer .main{
    height: 50px;}
#footer .left{
    float: left;
    width: 80%;
    height: 100%;
    background: url("../images/bottom_bg_02.jpg") no-repeat center/cover;
}
#footer .right{
    float: right;
    width: 20%;
    height: 100%;
    background: #5acfce;
}