<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/model.js"></script>
    <script src="../js/index.js"></script>
</head>
<body style="overflow: hidden">
<!--加载-->
<div id="loadgif" style="z-index: 66;position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.5)">
    　　<img  alt="加载中..." src="../images/loading.gif" style="width:50px;height:50px;position:absolute;top:50%;left:50%;"/>
</div>
<!--导航-->
<nav id="nav">
    <div class="logo">
        <a href="index.html">
            <img src="../images/logo_03_03.png" alt="" class="img100">
        </a>
    </div>
    <ul class="nav-bar">
        <li><a href="index.html" class="active">
            <p>首页</p>
            <p>HOME PAGE</p>
        </a></li>
        <li><a href="trainhistory.html">
            <p>火车史</p>
            <p>TRAIN HISTORY</p>
        </a></li>
        <li><a href="leisurearea.html">
            <p>休闲区</p>
            <p>LEISURE AREA</p>
        </a></li>
        <li><a href="brandstory.html">
            <p>品牌故事</p>
            <p>BRAND STORY</p>
        </a></li>
        <li><a href="aboutus.html">
            <p>关于我</p>
            <p>ABOUT US</p>
        </a></li>
    </ul>
    <div class="right">
        <div class="search borderbox">
            <div class="borderbox">
                <input type="text">
            </div>
        </div>
        <div class="music">
            <img src="../images/music_bg_08_06.png" alt="">
            <audio src="../images/test.mp3" loop="loop"><!--autoplay="autoplay"-->
                您的浏览器不支持 audio 标签。
            </audio>
        </div>
    </div>
</nav>
<!--主体-->
<div id="mainpart">
    <div class="front">
        <param name="wmode" value="transparent" />
        <embed width="100%" height="100%" id="plugin" src="../images/index_bg_front.swf"
               type="application/x-shockwave-flash" loop='false' wmode="transparent">
    </div>
    <div class="later">
        <img src="../images/index_bg_later.png" alt="" class="img100">
    </div>
    <div class="shadow"></div>
</div>
<!--下拉导航-->
<div class="botnav">
    <div class="button"></div>
    <div class="botnav-main">
        <ul>
            <li>
                <div>1</div>
            </li>
            <li>
                <div>2</div>
            </li>
            <li>
                <div>3</div>
            </li>
        </ul>
    </div>
</div>
<!--底部-->
<footer id="footer">
    <div class="main">
        <div class="left">
            <ul class="link">
                <li><a href="javascript:;">2017火车派-TRAIN PAI</a></li>
                <li><a href="javascript:;">网页简介</a></li>
                <li><a href="javascript:;">联系我们</a></li>
                <li><a href="javascript:;">意见反馈</a></li>
            </ul>
            <ul class="share">
                <li>分享至</li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
            </ul>
        </div>
        <div class="right">
            <span>返回顶部</span>
            <a href="#"></a>
        </div>
    </div>
</footer>
</body>
</html>