<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>火车派</title>
    <link rel="stylesheet" href="../../model/model.css">
    <link rel="stylesheet" href="trainhistory.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../model/model.js"></script>
    <script src="trainhistory.js"></script>
</head>
<body>
<!--加载-->
<div id="loadgif" style="z-index: 66;position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.5)">
    　　<img alt="加载中..." src="../../images/loading.gif" style="width:50px;height:50px;position:absolute;top:50%;left:50%;"/>
</div>
<!--导航-->
<nav id="nav">
    <div class="logo">
        <a href="../index/index.html">
            <img src="../../images/logo_03_03.png" alt="" class="img100">
        </a>
    </div>
    <ul class="nav-bar">
        <li><a href="../index/index.html">
            <p>首页</p>
            <p>HOME PAGE</p>
        </a></li>
        <li><a href="../history/trainhistory.html" class="active">
            <p>火车史</p>
            <p>TRAIN HISTORY</p>
        </a></li>
        <li><a href="../area/leisurearea.html">
            <p>休闲区</p>
            <p>LEISURE AREA</p>
        </a></li>
        <li><a href="../story/brandstory.html">
            <p>品牌故事</p>
            <p>BRAND STORY</p>
        </a></li>
        <li><a href="../about/aboutus.html">
            <p>联系我们</p>
            <p>CONTACT US</p>
        </a></li>
    </ul>
    <div class="right">
        <div class="search borderbox">
            <div class="borderbox">
                <input type="text">
            </div>
        </div>
        <div class="music">
            <img src="../../images/music_bg_08_06.png" alt="">
            <audio src="../../images/test.mp3" loop="loop" autoplay="autoplay"><!---->
                您的浏览器不支持 audio 标签。
            </audio>
        </div>
    </div>
</nav>
<!--mainpart-->
<div id="mainpart">
    <div class="img-group">
        <ul>
            <li class="item0 active"><img src="../../images/history_01.png"></li>
            <li class="item1"><img src="../../images/history_1_1.jpg"></li><!--1-->
            <li class="item1"><img src="../../images/history_1_2.jpg"></li>
            <li class="item1"><img src="../../images/history_1_3.jpg"></li>
            <li class="item2"><img src="../../images/history_2_1.jpg"></li><!--4-->
            <li class="item2"><img src="../../images/history_2_2.jpg"></li>
            <li class="item2"><img src="../../images/history_2_3.jpg"></li>
            <li class="item2"><img src="../../images/history_2_4.jpg"></li>
            <li class="item2"><img src="../../images/history_2_5.jpg"></li>
            <li class="item3"><img src="../../images/history_3_1.jpg"></li><!--9-->
            <li class="item3"><img src="../../images/history_3_2.jpg"></li>
            <li class="item3"><img src="../../images/history_3_3.jpg"></li>
            <li class="item3"><img src="../../images/history_3_4.jpg"></li>
            <li class="item3"><img src="../../images/history_3_5.jpg"></li>
            <li class="item3"><img src="../../images/history_3_6.jpg"></li>
            <li class="item3"><img src="../../images/history_3_7.jpg"></li>
            <li class="item3"><img src="../../images/history_3_8.jpg"></li>
            <li class="item4"><img src="../../images/history_4_1.jpg"></li><!--17-->
            <li class="item4"><img src="../../images/history_4_2.jpg"></li>
        </ul>
    </div>
    <!--按钮-->
    <div class="btn-year">
        <ul class="btn-item">
            <li class="station-year active item1">1804</li>
            <li class="station-ellipsis"></li>
            <li class="station-year item2">1958</li>
            <li class="station-ellipsis "></li>
            <li class="station-year item3">1969</li>
            <li class="station-ellipsis "></li>
            <li class="station-year item4">2001</li>
        </ul>
    </div>
    <div class="btn-direction">
        <div class="left">
            <img src="../../images/history_l_btn_03_08.png" alt="">
        </div>
        <div class="right">
            <img src="../../images/history_r_btn_03.png" alt="">
        </div>
    </div>
</div>
<!--底部-->
<footer id="footer">
    <div class="main">
        <div class="left">
            <ul class="link">
                <li><a href="../index/index.html">2017火车派-TRAIN PAI</a></li>
                <li><a href="javascript:;">网页简介</a></li>
                <li><a href="../about/aboutus.html">联系我们</a></li>
                <li><a href="javascript:;">意见反馈</a></li>
            </ul>
            <ul class="share">
                <li>分享至</li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
            </ul>
        </div>
        <div class="right">
            <span>返回顶部</span>
            <a href="#"></a>
        </div>
    </div>
</footer>
</body>
</html>