<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>火车派</title>
    <link rel="stylesheet" href="../../model/model.css">
    <link rel="stylesheet" href="leisurearea.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../model/model.js"></script>
</head>
<body id="readpart">
<!--加载-->
<div id="loadgif" style="z-index: 66;position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.5)">
    　　<img alt="加载中..." src="../../images/loading.gif" style="width:50px;height:50px;position:absolute;top:50%;left:50%;"/>
</div>
<!--导航-->
<nav id="nav">
    <div class="logo">
        <a href="../index/index.html">
            <img src="../../images/logo_03_03.png" alt="" class="img100">
        </a>
    </div>
    <ul class="nav-bar">
        <li><a href="../index/index.html">
            <p>首页</p>
            <p>HOME PAGE</p>
        </a></li>
        <li><a href="../history/trainhistory.html">
            <p>火车史</p>
            <p>TRAIN HISTORY</p>
        </a></li>
        <li><a href="../area/leisurearea.html" class="active">
            <p>休闲区</p>
            <p>LEISURE AREA</p>
        </a></li>
        <li><a href="../story/brandstory.html">
            <p>品牌故事</p>
            <p>BRAND STORY</p>
        </a></li>
        <li><a href="../about/aboutus.html">
            <p>联系我们</p>
            <p>CONTACT US</p>
        </a></li>
    </ul>
    <div class="right">
        <div class="search borderbox">
            <div class="borderbox">
                <input type="text">
            </div>
        </div>
        <div class="music">
            <img src="../../images/music_bg_08_06.png" alt="">
            <audio src="../../images/test.mp3" loop="loop" autoplay="autoplay"><!---->
                您的浏览器不支持 audio 标签。
            </audio>
        </div>
    </div>
</nav>
<!--mainpart-->
<div id="readpart-main">
    <div class="swf">
        <param name="wmode" value="transparent" />
        <embed width="100%" height="100%" id="plugin" src="../../images/area_read.swf"
               type="application/x-shockwave-flash" loop='false' wmode="transparent">
    </div>
    <div class="line">
        <img src="../../images/area_read_line_02.jpg" alt="">
    </div>
    <div class="title">
        <img src="../../images/area_read_title.png" alt="">
    </div>
    <div class="group-list">
        <div class="item borderbox">
            <img src="../../images/area_read_item.png" alt="" class="bg">
            <h4>儿童绘本区</h4>
            <ul>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic1.jpg">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《火车出发了》</p>
                            <p>作者/ [日] 横沟英一</p>
                            <p>科学绘本/ 2012</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic2.png">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《火车要开了》</p>
                            <p>作者/ 弗兰杰西卡.切萨</p>
                            <p>科学绘本/ 2009</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic3.png">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《解密火车》</p>
                            <p>作者/ [英] 艾米丽·邦 文</p>
                            <p>科学绘本/ 2014</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="item borderbox">
            <img src="../../images/area_read_item.png" alt="" class="bg">
            <h4>专题小说区</h4>
            <ul>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic4.png">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《东方快车谋杀案》</p>
                            <p>作者/ [英] 克里斯蒂</p>
                            <p>推理/小说/ 2006</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic5.png">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《北方的河》</p>
                            <p>作者/ 张承志</p>
                            <p>中国文学/ 2002</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic6.png">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《铁路边的孩子们》</p>
                            <p>作者/ [英] 伊迪丝·内斯比特</p>
                            <p>儿童文学/ 2006</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="item borderbox">
            <img src="../../images/area_read_item.png" alt="" class="bg">
            <h4>灵异漫画区</h4>
            <ul>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic7.png">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《东方快车谋杀案》</p>
                            <p>作者/ [英] 克里斯蒂</p>
                            <p>推理/漫画/ 2010</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic8.png">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《咔嚓咔嚓！鬼列车！》</p>
                            <p>作者/ 清泉小鱼</p>
                            <p>魔幻/恐怖/青年</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../images/area_read_list.png" class="img100">
                    <div class="pic borderbox">
                        <img src="../../images/area_read_pic9.jpg">
                    </div>
                    <div class="pic shadow borderbox">
                        <img src="../../images/area_read_shadow.jpg">
                        <div class="text">
                            <p>《暴走漫画》</p>
                            <p>发起人/ 王尼玛</p>
                            <p>笑/ 2007</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--底部-->
<footer id="footer">
    <div class="main">
        <div class="left">
            <ul class="link">
                <li><a href="index.html">2017火车派-TRAIN PAI</a></li>
                <li><a href="javascript:;">网页简介</a></li>
                <li><a href="../about/aboutus.html">联系我们</a></li>
                <li><a href="javascript:;">意见反馈</a></li>
            </ul>
            <ul class="share">
                <li>分享至</li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
            </ul>
        </div>
        <div class="right">
            <span>返回顶部</span>
            <a href="#"></a>
        </div>
    </div>
</footer>
</body>
</html>
<script>
    $(function(){
        //鼠标移入显示
        var shadow=$('#readpart-main .group-list .item .shadow');
        var list=$('#readpart-main .group-list .item li');
        list.each(function(ele,index){
            $(this).mouseenter(function(){
                $(this).find('.shadow').css('top','0')
            }).mouseleave(function(){
                $(this).find('.shadow').css('top','-100%')
            })
        })
    })
</script>